<div class="index-container">
    <img src="images/beer.png" alt="beerimage">
    <a class="btn btn-primary" href="/beers">Check the Beers!</a>
    <a class="btn btn-primary" href="/randombeers">Check a Random Beer!</a>
</div>